*.pyc
*~
*.sqlite*
*.orig
*.log
schema/api-raml/
ga-output/
media/
collected-static/
venv/
analytics.dat
xml/
htmlcov/
.coverage
app.cfg
sqlite.cfg
psql.cfg
output*/
/*.flag
/client-secrets.json
/uwsgi.ini
