# file generated 2021-10-12 - see update-dependencies.sh
astroid==2.8.2
attrs==21.2.0
autopep8==1.5.7
boto3==1.18.59
botocore==1.21.59
cachetools==4.2.4
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.7
contextlib2==21.6.0
coverage==5.5
cryptography==3.4.8
Django==2.2.24
django-annoying==0.10.6
djangorestframework==3.12.4
et3==1.5.1
google-api-core==1.31.3
google-api-python-client==1.12.8
google-auth==1.35.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
httplib2==0.20.1
idna==3.2
importlib-metadata==4.8.1
isort==5.9.3
itsdangerous==2.0.1
jmespath==0.10.0
kids.cache==0.0.7
lazy-object-proxy==1.6.0
Markdown==3.3.4
mccabe==0.6.1
newrelic==7.0.0.166
oauth2client==4.1.3
packaging==21.0
platformdirs==2.4.0
protobuf==3.17.3
psycopg2==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.20
pyflakes==2.4.0
pylint==2.11.1
pylint-django==2.4.4
pylint-plugin-utils==0.6
pyparsing==2.4.7
python-dateutil==2.8.2
python-json-logger==0.1.11
pytz==2021.3
PyYAML==5.4.1
requests==2.26.0
requests-cache==0.7.5
responses==0.14.0
rsa==4.7.2
s3transfer==0.5.0
schema==0.7.4
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
unittest-xml-reporting==2.5.2
uritemplate==3.0.1
url-normalize==1.4.3
urllib3==1.26.7
uWSGI==2.0.20
wrapt==1.12.1
zipp==3.6.0
