# file generated 2024-03-19 - see update-dependencies.sh
appdirs==1.4.4
asgiref==3.7.2
astroid==2.15.8
attrs==23.2.0
autopep8==1.7.0
backports.zoneinfo==0.2.1
boto3==1.34.65
botocore==1.34.65
cachetools==4.2.4
cattrs==23.2.3
certifi==2024.2.2
charset-normalizer==3.3.2
contextlib2==21.6.0
coverage==5.5
dill==0.3.8
Django==3.2.25
django-annoying==0.10.6
djangorestframework==3.15.0
et3==1.5.2
exceptiongroup==1.2.0
google-api-core==2.17.1
google-api-python-client==1.12.11
google-auth==2.28.2
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.0
httplib2==0.22.0
idna==3.6
importlib_metadata==7.0.2
iniconfig==2.0.0
isort==5.13.2
jmespath==1.0.1
kids.cache==0.0.7
lazy-object-proxy==1.10.0
Markdown==3.6
mccabe==0.7.0
oauth2client==4.1.3
packaging==24.0
platformdirs==4.2.0
pluggy==1.4.0
protobuf==4.25.3
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pyflakes==2.5.0
pylint==2.17.7
pyparsing==3.1.2
pytest==7.4.4
pytest-cov==4.1.0
pytest-django==4.8.0
pytest-socket==0.5.1
python-dateutil==2.9.0.post0
python-json-logger==0.1.11
pytz==2024.1
PyYAML==5.4.1
requests==2.31.0
requests-cache==0.9.8
responses==0.22.0
rsa==4.9
s3transfer==0.10.1
schema==0.7.5
six==1.16.0
sqlparse==0.5.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
types-toml==0.10.8.20240310
typing_extensions==4.10.0
unittest-xml-reporting==2.5.2
uritemplate==3.0.1
url-normalize==1.4.3
urllib3==1.26.18
uWSGI==2.0.24
wrapt==1.16.0
zipp==3.18.1
